
.o_event_barcode_bg {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
@media (min-width: 767px) {
.o_event_barcode_bg {
    background: rgba(0, 0, 0, 0) url("/event_mubes/static/src/img/application-switcher-bg.jpg") no-repeat fixed center center / cover ;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
}
.o_event_barcode_main {
    background-color: #fff;
    font-family: "Lato",sans-serif;
    padding: 2em;
    text-align: center;
    width: 100%;
}
.o_event_barcode_main img {
    width: 200px;
}
.o_event_barcode_main input {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    box-shadow: 0 0 8px #d9d9d9;
    font-size: 19px;
    padding: 4px;
}
.o_event_barcode_main input:focus {
    border: 1px solid #7bc1f7;
    box-shadow: 0 0 8px #7bc1f7;
    outline: medium none;
}
@media (min-width: 767px) {
.o_event_barcode_main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    flex: 0 0 auto;
    font-size: 1.2em;
    padding: 3em;
    width: 550px;
}
}
.o_event_barcode_detail {
    border-radius: 10px;
    box-shadow: 0 0 5px #333333;
    font-family: "Lato",sans-serif;
}
.o_event_barcode_detail .o_event_date {
    background-color: #a2488a;
    color: #ffffff;
    height: 120px;
    padding-left: 10px;
}
@media (max-width: 991px) {
.o_event_barcode_detail .o_event_date {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
}
@media (min-width: 991px) {
.o_event_barcode_detail .o_event_date {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
}
.o_event_barcode_detail .o_event_date .o_event_day {
    display: block;
    font-size: 25pt;
    line-height: 1;
}
.o_event_barcode_detail .o_event_date .o_event_month {
    font-size: 18pt;
    font-weight: 900;
}
.o_event_barcode_detail .o_event_info {
    background-color: #f5f5f5;
    color: inherit;
    display: table;
    height: 120px;
}
.o_event_barcode_detail .o_event_info:hover {
    cursor: pointer;
}
@media (max-width: 991px) {
.o_event_barcode_detail .o_event_info {
    border-bottom-left-radius: 10px;
}
}
.o_event_barcode_detail .o_event_info .o_event_info_name {
    display: table-cell;
    vertical-align: middle;
}
.o_event_barcode_detail .o_event_info .o_event_info_name .o_event_title {
    font-size: 17pt;
    font-weight: 700;
}
.o_event_barcode_detail .o_event_info .o_event_info_name .o_event_desc {
    font-size: 13pt;
    font-weight: 300;
}
.o_event_barcode_detail .o_event_social {
    background: #a2488a none repeat scroll 0 0 !important;
    border-left: 1px solid #e6e6e6;
    color: white;
    font-size: 36px;
    height: 120px;
    padding: 5px 10px;
}
@media (max-width: 991px) {
.o_event_barcode_detail .o_event_social {
    border-bottom-right-radius: 10px;
}
}
@media (min-width: 991px) {
.o_event_barcode_detail .o_event_social {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
}
.o_event_barcode_detail .o_event_social .o_event_reg_attendee {
    border-bottom: 1px solid;
}
.o_event_barcode_detail .o_event_social .o_event_total_attendee {
    border-top: 1px solid;
}
.o_event_barcode_detail .o_event_social:hover {
    cursor: pointer;
}
@media (min-width: 767px) {
.o_event_barcode_detail {
    width: 550px;
}
}
.o_notification_manager .o_event_success {
    background-color: #5bc236;
    color: white;
}
.mb16 {
    margin-bottom: 16px !important;
}
.mt16 {
    margin-top: 16px !important;
}
.mt32 {
    margin-top: 32px !important;
}
.mt24 {
    margin-top: 24px !important;
}
#back_button{
    margin-top: 32px !important;
}