/* line 18, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event {
  padding: 0;
  background: white;
}
/* line 29, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-event {
    padding: 10mm 10mm;
		width: 100%;
		display: -webkit-box;
		display: -moz-box;
		display: box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		box-pack: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		box-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		-ms-flex-align: center;
		margin: 0 auto;
		background: #0e0f46;
}
/* line 44, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-event .text {
  width: 85%;
  padding: 0 0 0 8mm;
  margin: 0;
  text-align: left;
  color: #fff;
}
/* line 50, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-event .text h2 {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-size: 17pt;
}
/* line 56, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-event .text h1 {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-size: 22pt;
  font-weight: normal;
}
/* line 63, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-event .text h3 {
  display: block;
  margin: 0;
  font-size: 13pt;
  font-weight: normal;
}
/* line 71, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text {
  padding: 8mm 15mm;
  position: relative;
}
/* line 74, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text img.foto {
  width: 35mm;
  position: absolute;
  top: 8mm;
  right: 15mm;
}
/* line 78, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text .konten-header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 1mm 0 3mm;
}
/* line 85, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text .konten-header p {
  color: #0070ba;
  display: block;
  padding: 0 3mm;
  margin: 0;
  font-size: 17pt;
  font-weight: bold;
}
/* line 92, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text .konten-header p span {
  font-weight: normal;
  color: #000;
}
/* line 98, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 103, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li {
  font-size: 11pt;
  font-weight: normal;
  padding: 1mm 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 110, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .title {
  color: #0070ba;
  font-weight: bold;
  width: 23%;
  position: relative;
  padding-right: 3mm;
  padding-left: 6mm;
}
/* line 117, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .title:after {
  content: ':';
  position: absolute;
  right: 0;
}
/* line 121, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .title:before {
  content: '';
  height: 2.8mm;
  width: 2.8mm;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 1mm;
  left: 0;
}
/* line 128, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .title.normal {
  font-weight: normal;
  text-align: right;
}
/* line 131, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .title.normal:before {
  display: none;
}
/* line 135, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .title p {
  font-weight: normal;
  color: #000;
}
/* line 138, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .title p:first-child {
  padding-bottom: 13mm;
}
/* line 143, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .data {
  width: 77%;
}
/* line 147, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li .barcode img {
  width: 50mm;
}
/* line 151, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li.ttd {
  padding-top: 15mm;
}
/* line 154, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul li.ttd .title:after {
  display: none;
}
/* line 161, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul.part2 .title {
  width: 37%;
}
/* line 164, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .konten-text ul.part2 .data {
  width: 55%;
}
/* line 170, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-event .footer {
  background: #0e0f46;
  color: #fff;
  padding: 9mm 20mm 5mm;
  font-size: 14pt;
}

/* line 38, C:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-event .img {
  width: 13%;
}
/* line 40, C:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-event .img img {
  display: block;
  width: 100%;
}
/* line 75, C:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page .konten-text .konten-header img {
  height: 12mm;
}

/* akomodasi */

/* line 18, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-accomodation {
  width: 100%;
  padding: 0;
}
/* line 26, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-accomodation {
  padding: 7mm 5mm;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 auto;
  background: #0e0f46;
}
/* line 34, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-accomodation .img {
  width: 20%;
}
/* line 36, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-accomodation .img img {
  display: block;
  width: 100%;
}
/* line 41, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-accomodation .text {
  width: 80%;
  padding: 0 0 0 5mm;
  margin: 0;
  text-align: left;
  color: #fff;
}
/* line 47, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-accomodation .text h1 {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-size: 14pt;
}
/* line 53, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.header-accomodation .text h3 {
  display: block;
  margin: 0;
  font-size: 10pt;
  font-weight: normal;
}
/* line 62, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.page-accomodation .konten-text-accomodation h1 {
  color: #006cb4;
  text-align: center;
  font-size: 20pt;
}
/* line 67, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.konten-text-accomodation ul {
  list-style: none;
  margin: 0;
  padding: 3mm 5mm 0 5mm;
  display: block;
}
/* line 72, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.konten-text-accomodation ul li {
  font-size: 9pt;
  color: #0e0f46;
  padding: .2mm 0;
}
/* line 76, c:/Ruby23-x64/www/project1701/app/assets/stylesheets/cetak.scss */
.konten-text-accomodation ul li.padd {
  margin: 0 0 5mm;
}